USE [Electric Shop Management System]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/25/2025 7:35:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/25/2025 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 9/25/2025 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] NOT NULL,
	[SaleDate] [date] NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 9/25/2025 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[StockInDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/25/2025 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Mobile Phones')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Laptops')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Accessories')
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Price], [Description]) VALUES (1, N'iPhone 14', 1, CAST(999.99 AS Decimal(10, 2)), N'Apple smartphone')
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Price], [Description]) VALUES (2, N'Dell XPS 13', 2, CAST(1199.99 AS Decimal(10, 2)), N'Ultrabook laptop')
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Price], [Description]) VALUES (3, N'Samsung Charger', 3, CAST(29.99 AS Decimal(10, 2)), N'Fast charging adapter')
GO
INSERT [dbo].[Sales] ([SaleID], [SaleDate], [CustomerName], [TotalPrice]) VALUES (1, CAST(N'2025-09-11' AS Date), N'Alice Rahman', CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[Sales] ([SaleID], [SaleDate], [CustomerName], [TotalPrice]) VALUES (2, CAST(N'2025-09-12' AS Date), N'Mohammad Hasan', CAST(40000.00 AS Decimal(10, 2)))
INSERT [dbo].[Sales] ([SaleID], [SaleDate], [CustomerName], [TotalPrice]) VALUES (3, CAST(N'2025-09-17' AS Date), N'a', CAST(999.99 AS Decimal(10, 2)))
GO
INSERT [dbo].[Stock] ([StockID], [ProductID], [Quantity], [StockInDate]) VALUES (1, 1, 1, CAST(N'2025-09-01' AS Date))
INSERT [dbo].[Stock] ([StockID], [ProductID], [Quantity], [StockInDate]) VALUES (2, 2, 48, CAST(N'2025-09-05' AS Date))
INSERT [dbo].[Stock] ([StockID], [ProductID], [Quantity], [StockInDate]) VALUES (3, 3, 5, CAST(N'2025-09-10' AS Date))
GO
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (1, N'admin', N'admin123', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (2, N'john_smith', N'john123', N'Salesman')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (4, N'farhan', N'farhan123', N'Salesman')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4E8558922]    Script Date: 9/25/2025 7:35:34 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
